$color_1: var(--textColor);
$color_2: var(--white);
$color_3: var(--primary-500);
$color_4: var(--primary-200);
$color_5: var(--red-dark);
$color_6: var(--green-dark);
$color_7: var(--grey-400);
$color_8: var(--grey-500);
$font-family_1: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family_2: var(--headingFont);
$font-family_3: inherit;
$border-color_1: transparent;
$border-top-color_1: var(--primary-500);

/* ============= GLOBAL CSS =============== */
/*16px*/
/* buttons */
/* alerts */
/* form */
/* alert */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/* title */
/* ============= PROJECT CSS =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
&::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
&::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
&:root {
  --primary-100: #d1fae5;
  --primary-200: #a7f3d0;
  --primary-300: #6ee7b7;
  --primary-400: #34d399;
  --primary-500: #10b981;
  --primary-600: #059669;
  --primary-700: #047857;
  --primary-800: #065f46;
  --primary-900: #064e3b;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --backgroundcolor: var(--grey-50);
  --textcolor: var(--grey-900);
  --borderradius: 0.25rem;
  --letterspacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
body {
  background: var(--backgroundColor);
  font-family: $font-family_1;
  font-weight: 400;
  line-height: 1;
  color: $color_1;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
  font-family: $font-family_2;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-size: 3.052rem;
}
h2 {
  margin: 0;
  font-family: $font-family_2;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-size: 2.441rem;
}
h3 {
  margin: 0;
  font-family: $font-family_2;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-size: 1.953rem;
}
h4 {
  margin: 0;
  font-family: $font-family_2;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-size: 1.563rem;
}
h5 {
  margin: 0;
  font-family: $font-family_2;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-size: 1.25rem;
}
.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}
small {
  font-size: var(--small-text);
}
.text-small {
  font-size: var(--small-text);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  cursor: pointer;
  color: $color_2;
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  &:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
  }
}
.btn-hipster {
  color: $color_3;
  background: var(--primary-200);
  &:hover {
    color: $color_4;
    background: var(--primary-700);
  }
}
.btn-block {
  width: 100%;
}
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: $border-color_1;
  border-radius: var(--borderRadius);
}
.alert-danger {
  color: $color_5;
  background: var(--red-light);
}
.alert-success {
  color: $color_6;
  background: var(--green-light);
}
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  height: 7rem;
}
.form-row {
  margin-bottom: 1rem;
}
&::placeholder {
  font-family: $font-family_3;
  color: $color_7;
}
.form-alert {
  color: $color_5;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: $border-top-color_1;
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}
.title {
  text-align: center;
}
.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}
main {
  width: 90vw;
  max-width: var(--max-width);
  margin: 5rem auto;
}
.tours {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
}
.single-tour {
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  position: relative;
  &:hover {
    box-shadow: var(--shadow-3);
  }
  .img {
    height: 20rem;
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
  }
}
.tour-price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  color: $color_2;
  letter-spacing: 2px;
  background: var(--primary-500);
  border-top-right-radius: var(--borderRadius);
}
.tour-info {
  padding: 2rem 1.5rem;
  h5 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }
  p {
    line-height: 1.5;
    color: $color_8;
    margin-bottom: 1.25rem;
  }
}
.info-btn {
  background: transparent;
  border: transparent;
  text-transform: capitalize;
  cursor: pointer;
  color: $color_3;
  font-weight: 600;
}
.delete-btn {
  background: transparent;
  border: transparent;
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid var(--primary-500);
  color: $color_3;
  &:hover {
    background: var(--primary-500);
    color: $color_2;
  }
}
@media screen and (min-width: 768px) {
  .tours {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}
@media screen and (min-width: 992px) {
  .tours {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }
}
